.filter {
  margin: 2px;
  font-family: "Inter", sans-serif;
  display: flex;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(48, 48, 48);
}

.filter-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 30px;
  border-radius: 25px;
  background-color: rgb(61, 61, 61);
  margin-bottom: 4px;
}

.filter-text {
  margin-left: 16px;
  font-weight: 500;
  color: rgb(209, 209, 209);
  font-size: 12px;
}

.filter-quantity {
  margin-right: 16px;
  font-weight: 300;
  color: rgb(209, 209, 209);
}

.filter-switch {
  display: flex;
  justify-content: space-evenly;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60px;
  height: 30px;
  background-color: #242424;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.switch:hover {
  background-color: #2c2c2c;
}

.currency-indicator {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  transition: transform 0.3s ease;
}

.currency-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;  /* or whatever fits your design */
  height: 25px; /* or whatever fits your design */
  border-radius: 50%;
  transition: background-color 0.3s, opacity 0.3s;
  opacity: 0.5;
}

.currency-text.active {
  background-color: rgb(84, 84, 84); /* Active background color */
  opacity: 1;
}

.currency-text.active {
  opacity: 1;
}

.SUI .currency-text:first-child {
  opacity: 1;
}

.USD .currency-text:last-child {
  opacity: 1;
}

.SUI .currency-indicator {
  transform: translateX(0%);
}

.USD .currency-indicator {
  transform: translateX(100%);
}

.filter-image {
  width: 40%;
}