.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-family: "Anton", sans-serif;
  z-index: 1;
}

.navbar-left {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.login-button {
  padding: 0.25rem 2rem; 
  margin-right: 1rem;
  font-size: 1.5rem;
  background-color: transparent; 
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border-color: #0AAEFF;
  transition: background-color 0.3s ease;
  font-family: "Anton", sans-serif;
}

.login-button:hover {
  background-color: #0AAEFF;
}